# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# JSON files
*.json

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico

# 允许 assets 目录下的 JSON 和图片文件
!src/assets/
!src/assets/**/*.json
!src/assets/**/*.png
!src/assets/**/*.jpg
!src/assets/**/*.jpeg
!src/assets/**/*.gif
!src/assets/**/*.bmp
!src/assets/**/*.tiff
!src/assets/**/*.ico

.env
GEMINI.md
notebook.txt